.App { 
  text-align: center;
  background-image: url("../media/background.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  /* height: 160vh; */
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif !important;
}
 

h3 {
  margin-bottom: 40px;
  margin-top: -100px;
}

.App-header {
  position: fixed;
  min-height: 20vh;

  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

.logoWine{
  margin-top:20px;
  margin-bottom:20px;
}

.Searchbar {
  max-width: 500px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}



@media screen and (max-width: 425px) {
  .logoWine {
    width: 220px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rangeSlider{
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  z-index: 1;
}

/* Font boutons */

.MuiButton-root-32 {
  font-family: 'Montserrat', sans-serif !important;
}
