.Header {
    text-align: center;
}

.Header-logo {
    height: 80px;
    width: 200px;
}

.App-header {
    background-color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}