.roulette {
	/* width:390px; */
	/* height:390px; */
	font:bold 13px Arial;
	width:85px;
	height:85px;
	background:#B7143F;
	font:bold 13px Arial;
	border-radius:50%;
	border:1px solid black;
  color:#fff;
  margin-top:20px;
  animation: App-logo-spin infinite 6s linear;
  font-family: 'Montserrat', sans-serif !important; 

}




/* .card{
    text-align: center;
    animation: turning-spin 1s linear;
}

@keyframes turning-spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
      }
  } */
