.roulette {
	width:85px;
	height:85px;
	background:#cc0000;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}




/* .card{
    text-align: center;
    animation: turning-spin 1s linear;
}

@keyframes turning-spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
      }
  } */
