a {
    text-decoration: none;
    color: white;
}

.rights {
    text-align: right;
}

.foot {
    background-color: #b7143f !important;
}

.MuiGrid-spacing-xs-24-95 > .MuiGrid-item-72  {
    padding: 0 !important;
   
}

.MuiButton-root-204 {
    color: white !important;
}

.Footer-root-65 {
    position: absolute;
    bottom: auto;
    width: 100%;
}

.MuiPaper-elevation4-76 {
    box-shadow: none;
}

.MuiGrid-spacing-xs-24-234 > .MuiGrid-item-211 {
    padding: 0px;
}

.MuiGrid-spacing-xs-24-234 {
    margin: 0 !important
}