.MuiExpansionPanelDetails-root-134 {
    left: 20% !important;
    position: relative !important;
    display: block !important;
}

.MuiExpansionPanelSummary-root-33 {
    display: inline-flex !important;
    position: fixed;
    left: 25%;
}

.MuiSvgIcon-root-121 {
    display: none !important;
}

.MuiPaper-elevation1-9 {
    box-shadow: 0px 0px 0px !important; 
}

/* .MuiPaper-root-6 {
    background: transparent !important;
} */

.test {
    background: transparent !important;
}



