div {
	margin-top: 30px;
}
button {
	margin: 3px;
	
}


button.selected{
	color: red;
}
button.true{
	color: red;
}




img {
	width: 140px;
}

ul {
	list-style:none;
	
}

li {
	border-top : 3px solid gray;
}