div {
	margin-top: 30px;
}
button {
	margin: 3px;
	
}


button.selected{
	color: red;
}

/*button.true{
	color: red;
}*/

button.selectedRoulette {

	/*padding: 30px;*/
	border-radius: 100px;
	height: 100px;
	width: 100px;
	border: 2px solid black;
	box-shadow: 10px 5px 5px gray;
}




img {
	width: 140px;
}

ul {
	list-style:none;
	
}

li {
	border-top : 3px solid gray;
}